/build/

# MossPS cache
/scripts/.cache

# Moss cache
.cache

# Windows executable files
*.exe

# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Jetbrians IDE
.idea

# Visual Studio Code
.vscode